* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #083163;
}

/*---------------- Header ----------- */
.header {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.header__logo {
    margin: 20px;
}

/*---------------- Main ----------- */
.content {
    width: 80%;
    margin: 30px auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 22px;
}

.content__column1 {
    padding: 25px;
    height: 100%;
    border-radius: 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column1__textarea,
#right-textarea {
    width: 100%;
    padding: 15px 0 0 15px;
    color: #0a3871;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    resize: none;
    outline: none;
    border: none;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #1875e8;
}

.column1__textarea::placeholder {
    color: #0a3871;
}

.info__message {
    font-size: 14px;
}

.info__box {
    margin: 15px 0;
}

.column1__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.button__encrypt,
.button__decrypt,
.column2__button-copy {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    background-color: #0a3871;
    color: #fff;
    cursor: pointer;
}

/* Efecto para los botones */
.button__encrypt,
.button__decrypt,
.column2__button-copy {
    transition: 0.3s ease, color 0.3s ease;
}

.button__encrypt:hover,
.button__decrypt:hover,
.column2__button-copy:hover {
    transform: scale(1.03);
}
/* ------------------------ */

.button__decrypt {
    background-color: #d8dfe8;
    color: #000;
    border: 1px solid #1875e8;
}

.column2__button-copy {
    background-color: #fff;
    color: #0a3871;
    border: 1px solid #0a3871;
    display: none;
}

.content__column2 {
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.column2__img {
    width: 60%;
    display: none;
}

.column2__subtitle {
    font-size: 22px;
    font-weight: lighter;
}
.column2__description {
    font-size: 17px;
    color: #08346c;
}

/* Modificado desde JS  */
#right-textarea {
    min-height: 80%;
    height: 150px;
    width: 95%;
    padding: 15px;
    border: none;
    display: none;
}

.content__column2.mostrar {
    justify-content: space-between;
}

@media (min-width: 700px) {
    .content {
        width: 85%;
        margin: 0 auto;
    }

    .content__column1 {
        height: 90%;
    }

    .column1__textarea {
        width: 100%;
        margin: 0 auto;
        background: #fff;
    }

    .info__message {
        font-size: 16px;
    }

    .column1__buttons {
        flex-direction: row;
    }

    .buttons__encrypt,
    .buttons__decrypt {
        width: 50%;
    }

    .column2__subtitle {
        font-size: 24px;
    }
}

@media (min-width: 1000px) {
    .content {
        grid-template-columns: 1.8fr 1fr;
        min-height: calc(100vh - 87px - 40px);
    }

    .content__column2 {
        height: calc(100% + 10px);
    }

    .column2__img {
        display: flex;
    }
}
