* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f5fc;
}

/* Header  */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.header__logo-img {
    margin-top: 35px;
}

/* Main  */
.content {
    width: 80%;
    margin: auto 40px auto auto;
    /* border: 1px solid red; */
    display: grid;
    align-items: end;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 87px - 20px);
}

.content__column1 {
    /* background-color: rgb(232, 194, 198); */
    height: 85%;
}

.content__column2 {
    /* background-color: rgb(170, 209, 170); */
    height: calc(100% + 45px);
}
.column1__area {
    color: #0a3871;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    width: 80%;
    background: transparent;
    resize: none;
    outline: none;
    border: none;
}

.column1__area::placeholder {
    color: #0a3871;
}
.box {
    display: flex;
    gap: 8px;
}
.column1__buttons {
    gap: 8px;
}
.column1__buttons button {
    padding: 10px 30px;
    background-color: #0a3871;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 16px;
}
