body {
    background-color: rgb(228, 237, 240);
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 90%;
    margin: 0 auto;
    height: 200px;
    /* background-color: rgb(191, 230, 191); */
}

.container__column1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__text {
    padding: 0 40px;
    /* border: 1px solid red; */
    padding-top: 20px;
}

textarea {
    background-color: transparent;
    border: none;
    display: block;
    min-height: 400px;
}
.container__buttons {
    display: flex;
    gap: 50px;
}
.container__column2 {
    position: relative;
}
.container__image {
    padding: 10px;
    position: absolute;
    top: -40px;
    border: 1px solid blue;
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container__image img {
    width: 70%;
}
